/* .box {
  background-color: #666;
  padding: 15px;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  margin-top: 10px;
  font-size: 35px;
  color: white;
} */

/* header {
  text-align: center;
  position: relative;
}

button {
  background-color: springgreen !important;
  color: black;
  font-size: 0.75rem !important;
  font-weight: bold !important;
  padding: 1em !important;
  border-radius: 5px;
  margin-right: 1em !important;
  cursor: pointer;
}

button:hover {
  background-color: #f4f0ec !important;
}

footer {
  margin-top: 1em;
  background-color: #d3d3d3;
}
* {
  box-sizing: border-box;
} */
